#body {
  background: grey;

}

#header {
  text-align: center;
  padding: 5%;
  padding-bottom: 10px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

#detail {
  background: pink;
  padding: 0% 5% 0% 5%;
}

#links {
  padding-top: 10px;
  width: 100%;
}

#link1 {
  width: 50%;
  padding-left: 5%;
}

#link2 {
  width: 50%;
  padding-right: 5%;
}

#blog-link {
  border-left: 1px solid grey;
}

#projects-link {
  border-right: 1px solid grey;
}

button.button-primary {
  text-transform: uppercase;
  background-color: white;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  border-style: none;
  border-radius: 0px;
  font-weight: normal;
  color: black;
  font-size: 20px;
}

button.button-primary:hover {
  background-color: lightgrey;
  color: black;
}


.blog-list th:first-child {
  text-align: left;
  padding-left: 5%;
  font-size: 17px;
}

.blog-list td {
  text-align: left;
  padding-left: 5%;
}

#blog-list {
  padding-top: 20px;
}

.blog-list a:hover {
  font-weight: bold;
}

#post {
  padding-top: 20px;
}

#post h5 {
  font-size: 20px;
  font-weight: bolder;
}

#img-wireframe {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

figcaption {
  text-align: center;
}

@media (min-width: 550px) {
  #img-wireframe {
    width: 100%;
    padding: 0px;
  }
}
