#body {
  background: grey;

}

#header {
  text-align: center;
  padding: 5%;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

#detail {
  background: pink;
  padding: 0% 5% 0% 5%;
}


#link1 {
  width: 50%;
}

#link2 {
  width: 50%;
}

#blog-link {
  border-left: 1px solid white;
}

#projects-link {
  border-right: 1px solid white;
}

button.button-primary {
  text-transform: uppercase;
  background-color: lightgrey;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  border-style: none;
  border-radius: 0px;
  font-weight: normal;
}

button.button-primary:hover {
  font-weight: bold;
  font-size: 12px;
  background-color: lightgrey;
}
