#body {
  background: grey;

}

#header {
  text-align: center;
  padding: 5%;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

#detail {
  background: pink;
  padding: 0% 5% 0% 5%;
}

#links {
  padding-top: 20px;
}

#link1 {
  width: 50%;
}

#link2 {
  width: 50%;
}

#blog-link {
  border-left: 1px solid grey;
}

#projects-link {
  border-right: 1px solid grey;
}

button.button-primary {
  text-transform: uppercase;
  background-color: white;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  border-style: none;
  border-radius: 0px;
  font-weight: normal;
  color: black;
  font-size: 20px;
}

button.button-primary:hover {
  background-color: lightgrey;
  color: black;
}

.blog-list th:first-child {
  text-align: left;
  padding-left: 5%;
  font-size: 17px;
}

.blog-list td {
  text-align: left;
  padding-left: 5%;
}

#blog-list {
  padding-top: 20px;
}

.blog-list a:hover {
  font-weight: bold;
}
